<%= form_with(model: solicitation, local: true) do |form| %>
  <% if solicitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitation.errors.count, "error") %> prohibited this solicitation from being saved:</h2>

      <ul>
      <% solicitation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :solicitation_user_id %>
  </div>

  <div class="field">
    <%= form.label :document_id %>
    <%= form.text_field :document_id, id: :solicitation_document_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :solicitation_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
