<p id="notice"><%= notice %></p>

<h1>Solicitations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Document</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @solicitations.each do |solicitation| %>
      <tr>
        <td><%= solicitation.user %></td>
        <td><%= solicitation.document %></td>
        <td><%= solicitation.description %></td>
        <td><%= link_to 'Show', solicitation %></td>
        <td><%= link_to 'Edit', edit_solicitation_path(solicitation) %></td>
        <td><%= link_to 'Destroy', solicitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solicitation', new_solicitation_path %>
