<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Solicitation</h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12  ">
        <div class="x_panel">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center">Signatory</th>
                <th class="text-center">URL</th>
                <th class="text-center">Status</th>
              </tr>
            </thead>
            <tbody>
            <% get_signatories(@solicitation.id).each do |signatory| %>
              <% signature = get_signature(signatory.id) %>
              <% signature_status = get_signature_status(signature) %>
              <tr>
                <td class="text-center"><%= signatory.name %></td>
                <td class="text-center"><%= signature.url %></td>
                <td>
                  <%= signature_status %>
                  <% if signature_status == 'Signed' %>
                    <button type="button" class="btn btn-primary btn-sm ml-2" data-toggle="modal" data-target="#show-status-modal" onclick="showSignature(this)" value="<%= signature.signature_image.url %>"><i class="fa fa-eye"></i></button>
                  <% elsif signature_status == 'Denied' %>
                    <button type="button" class="btn btn-primary btn-sm ml-2" data-toggle="modal" data-target="#justification-denied-modal" onclick="showJustification(this)" value="<%= signature.justification %>"><i class="fa fa-eye"></i></button>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- Modal Signature Image -->
<div class="modal fade" id="show-status-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="show-status-label">Signature</h5>
        <button type="button" id="close-justification-denial" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="form-group">
            <img class="container-signature-image" width="498" height="375">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal Signature Image -->

<!-- Justification for refused Modal -->

<div class="modal fade" id="justification-denied-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="justification-denied-label">Justification for Refused</h5>
        <button type="button" id="close-justification-denial" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="form-group">
            <textarea class="form-control" rows="10" cols="30"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- End Justification for refused Modal -->